* {
    font-family: "Courier New", "Lucida Console", monospace;
    margin: 0;
    padding: 0;
    font-size: 0;
}

body {
    background-color: rgb(246, 239, 238);
}

option {
    font-size: 1.5vw;
}

h1 {
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;

    font-size: 2vw;

    text-align: center;
}

select {
    appearance: none;
}

.center {
    text-align: center;
}

.centermargins {
    margin-left: auto;
    margin-right: auto;
}