input {
    text-align: center;

    background-color: #002245;
    color: rgb(246, 239, 238);
    border: 0.35vw solid #99fe00;

    width: 40%;
    height: 4vw;

    font-size: 2vw;
}

input:focus {
    outline: none;
    border: 0.6vw solid #99fe00;
}

button {
    text-align: center;

    background-color: #002245;
    color: rgb(246, 239, 238);
    border: 0.35vw solid #99fe00;

    width: 42%;
    height: 4vw;

    margin-top: 1vw;

    font-size: 2vw;
}