input {
    text-align: center;

    background-color: #002245;
    color: rgb(246, 239, 238);
    border: 0.35vw solid #99fe00;

    width: 20%;
    height: 6dvh;

    font-size: 4.25dvh;
}

input:focus {
    outline: none;
    border: 0.6vw solid #99fe00;
}

button {
    text-align: center;

    background-color: #002245;
    color: rgb(246, 239, 238);
    border: 0.35vw solid #99fe00;

    width: 40%;
    height: 8dvh;

    margin-top: 0.4vw;
    margin-bottom: 4vw;


    font-size: 4.25dvh;
}

a.client {
    width: 30vw;
    height: 6vw;


    display: inline-block;

    background-color: #002245;
    color: rgb(246, 239, 238);
    border: 0.5vw solid #99fe00;

    font-size: 3vw;
    line-height: 6vw;
    text-align: center;
    text-decoration: none;
}

div.client {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vw;
    margin-top: 2vw;
}

img.delete {
    display: inline-block;
    height: 6vw;
    margin-left: 1vw;
}