input {
    text-align: center;

    background-color: #002245;
    color: rgb(246, 239, 238);
    border: 0.35vw solid #99fe00;

    width: 40%;
    height: 10dvh;

    font-size: 5dvh;
}

input:focus {
    outline: none;
    border: 0.6vw solid #99fe00;
}

button {
    text-align: center;

    background-color: #002245;
    color: rgb(246, 239, 238);
    border: 0.35vw solid #99fe00;

    width: 42%;
    height: 8dvh;

    margin-top: 2dvh;

    font-size: 4.25dvh;
}