nav {
    text-align: center;

    background-color: #002245;

    height: 16dvh;

}

nav a img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1dvh;
    margin-bottom: 1dvh;

    width: auto;
    height: 14dvh;

    display: inline-block;
}

nav a {
    display: inline-block;
    height: 14dvh;
}