{% extends 'base.html' %}



{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/clientlist.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/complex.css') }}">
{% endblock %}



{% block content%}
<body>
    <main>
        <h1>Manage Clients</h1>

        <div class='center'>
            <input type='text' placeholder='Name' id='name'>
        </div>
        <div class='center'>
            <button class="client" onclick="addClient(document.getElementById('name').value)">Add</button>
        </div>
        {% for client in get_clients() %}
        <div class="center client">
            <a class="client" href="/client/{{ client }}">{{ client }}</a>
            <img class='delete' onclick="removeClient('{{ client }}')" src="{{ url_for('static', filename='images/icons/delete.png') }}"></img>
        </div>
        {% endfor %}
    </main>
</body>
{% endblock%}
