{% extends 'base.html' %}



{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/exerciselist.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/complex.css') }}">
{% endblock %}



{% block content %}
<body>
    <main>
        <h1>Set Up Workout</h1>
        <div class='center align'>
            {% with week = get_week() %}
            <p style="font-size: 2vw;margin-top: 1vw;">Today: Block {% if week > 27 %}2{% else %}1{% endif %} Week {{ week }}</p>
            {% endwith %}
        </div>
        <div class='center align'>
            <input id="presetname" class="complex" style="width: 29.4vw; height: 3.4vw; margin: 0;" placeholder="Preset Name..."></input><select id="loadpreset" class="complex" style="width: 30vw; height: 4.05vw; margin: 0;">
                {% for preset in get_presets()|sort(attribute="name") %}
                    <option value="{{ preset["name"] }}">{{ preset["name"] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class='center'>
            <button class="complex" onclick="saveComplex(document.getElementById('presetname').value)" style="width: 30vw;">Save Preset</button>
            <button class="complex" onclick="loadComplex(document.getElementById('loadpreset').value)" style="width: 15vw;">Load</button>
            <button class="complex" onclick="removeComplex(document.getElementById('loadpreset').value)" style="width: 15vw;">Remove</button>
        </div>
        <div class="center top" id="selects">
            <img onclick="addComplexExercise(0)" style="width: 3.5vw; margin-top: 2vw; margin-bottom: 0.6vw;" src="{{ url_for('static', filename='images/icons/add.png') }}">
            {% for exercise in get_complex() %}
            <div class="align">
                <img onclick="addComplexExercise({{ loop.index }})" src="{{ url_for('static', filename='images/icons/add.png') }}"></img><select onfocusout="setComplex([{% for exercise in get_complex() %} document.getElementById('exercise{{ loop.index }}').value {% if not exercise == 'None' %} + ' | ' + document.getElementById('exercise{{ loop.index }}r').value {% endif %}, {% endfor %}])" name="exercise{{ loop.index }}" id="exercise{{ loop.index }}">
                        <option value="None">None</option>
                        {% for exercise2 in get_exercises() %}
                            {% if exercise.split(" | ")[0] == exercise2["name"] %}
                                <option value="{{ exercise2["name"] }}" selected>{{ exercise2["name"] }}</option>
                            {% else %}
                                <option value="{{ exercise2["name"] }}">{{ exercise2["name"] }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>{% if not exercise == "None" %}<select style="margin-left: 0.4%; width: 6%" id="exercise{{ loop.index }}r" onfocusout="setComplex([{% for exercise in get_complex() %} document.getElementById('exercise{{ loop.index }}').value {% if not exercise == 'None' %} + ' | ' + document.getElementById('exercise{{ loop.index }}r').value {% endif %}, {% endfor %}])" name="exercise{{ loop.index }}" id="exercise{{ loop.index }}">
                        <option value="None">Rep</option>
                        {% for amount in get_rep_amounts() %}
                            {% if exercise.split(" | ")[1] == amount %}
                                <option value="{{ amount }}" selected>{{ amount }}</option>
                            {% else %}
                                <option value="{{ amount }}">{{ amount }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>{% else %}
                    <div style="margin-left: 0.4%; width: 6%"></div>
                    {% endif %}<img onclick="removeComplexExercise({{ loop.index }})" src="{{ url_for('static', filename='images/icons/remove.png') }}"></img>
            </div>
            {% endfor %}
        </div>
    </main>
</body>
{% endblock %}