{% extends 'base.html' %}



{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/exerciselist.css') }}">
{% endblock %}



{% block content %}
<body>
    <main>
        <h1>Manage Exercises</h1>

        <div class='center top'>
            <input type='text' placeholder='Exercise' id='name'>
        </div>
        <div class="center top">
            <select name="unit" id="unit">
                {% for unit in get_units() %}
                {% if unit["nickname"] == "" %}
                <option id="{{ unit["name"] }}" value="{{ unit["name"] }}">{{ unit["name"] }}</option>
                {% else %}
                <option id="{{ unit["name"] }}" value="{{ unit["name"] }}">{{ unit["name"] }} ({{ unit["nickname"] }})</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class='center'>
            <button class="client"
                onclick="addExercise(document.getElementById('name').value, document.getElementById('unit').value)">Add</button>
        </div>
        {% for exercise in get_exercises() %}
        <div class="center client">
            <a class="client" href="/exercise/{{ exercise["name"] }}">{{ exercise["name"] }}</a>
            <img class='delete' onclick="removeExercise('{{ exercise["name"] }}')" src="{{ url_for('static', filename='images/icons/delete.png') }}"></img>
        </div>
        {% endfor %}
    </main>
</body>
{% endblock %}