{% extends 'base.html' %}



{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/session.css') }}">
{% endblock %}



{% block content%}
<body>
    <main>
        <div class="center">
            <select id="name" class="addselect">
                <option id="none" value="none">None</option>
                {% for client in get_clients() %}
                    <option id="{{ client }}" value="{{ client }}">{{ client }}</option>
                {% endfor %}
            </select>
        </div>
        <div class='center'>
            <button class="client" onclick="addSessionClient(document.getElementById('name').value)">Add</button>
        </div>
        <div class="center">
            {% if get_session_clients()|length > 0 %}
                <table class="centermargins">
                    <tr>
                        <th>Exercise</th>
                        {% for client in get_session_clients() %}
                            <th>{{ client }}</th>
                        {% endfor %}
                    </tr>
                    {% for exercise in get_complex() %}
                        {% if not (exercise == "None") %}
                        <tr>
                            <td>{{ exercise }}</td>
                            {% for client in get_session_clients() %}
                                {% with exercises = get_exercises() %}
                                    {% for exercise2 in exercises %}
                                        {% for count in exercise2["data"]["reps"] %}
                                            {% if exercise == exercise2["name"] + " (" + count + " reps)" %}
                                                {% for unit in get_units() %}
                                                    {% if exercise2["unit"] == unit["name"] %}
                                                        {% if unit["type"] == "number" %}
                                                            {% with suggestion = get_suggestion(exercise.split(' (')[0], exercise.split(' (')[1].split(')')[0], client) %}
                                                                <td><input placeholder="{{ suggestion }}" value="{{ exercise2['data']['reps'][count][client] }}"></input></td>
                                                            {% endwith %}
                                                        {% elif unit["type"] == "dropdown" %}
                                                            <td>
                                                                <select class="valueselect" id="{{ client + " [|] " + exercise }}" onfocusout="updateInfoSelect('{{ client }}', '{{ exercise }}', document.getElementById('{{ client + " [|] " + exercise }}').value)">
                                                                    <option value="none">None</option>
                                                                    {% for option in unit["dropdown"] %}
                                                                        {% if client in exercise2["data"]["reps"][count|string].keys() %}
                                                                            {% if option == exercise2["data"]["reps"][count|string][client] %}
                                                                                <option selected="Selected" value="{{ option }}">{{ option }}</option>
                                                                            {% else %}
                                                                                <option value="{{ option }}">{{ option }}</option>
                                                                            {% endif %}
                                                                        {% else %}
                                                                            <option value="{{ option }}">{{ option }}</option>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </select>
                                                            </td>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endwith %}
                            {% endfor %}
                        </tr>
                        {% else %}
                            <tr>
                                <td class="none">None</td>
                                {% for client in get_session_clients() %}
                                <td class="none"></td>
                                {% endfor %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </main>
</body>
{% endblock%}
