{% extends 'base.html' %}



{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/session2.css') }}">
{% endblock %}



{% block content%}
<body>
    <main>
        <div class="center">
            <select id="name">
                <option id="none" value="none">None</option>
                {% for client in get_clients() %}
                    <option id="{{ client }}" value="{{ client }}">{{ client }}</option>
                {% endfor %}
            </select>
        </div>
        <div class='center'>
            <button class="client" onclick="addSessionClient(document.getElementById('name').value)">Add</button>
        </div>
        <div class="center">
            {% if get_session_clients()|length > 0 %}
                <table>
                    <tr>
                        <th>Exercise</th>
                        {% for client in get_session_clients() %}
                            <th>{{ client }}</th>
                        {% endfor %}
                    </tr>
                    {% for exercise in get_complex()|reverse %}
                        {% if not (exercise == "None") %}
                            <tr>
                                <td>{{ exercise }}</td>
                                {% for client in get_session_clients() %}
                                    {% with exercises = get_exercises() %}
                                        {% with exerciseSplit = exercise.split(" reps)")[0].split(" (")%}
                                            {% for exercise2 in exercises %}
                                                {% if exerciseSplit[0] == exercise2["name"] %}
                                                    <td><input value="{{ exercise2['data']['reps'][exerciseSplit[1]][client] }}"></input></td>
                                                {% endif %}
                                            {% endfor %}
                                        {% endwith %}
                                    {% endwith %}
                                {% endfor %}
                            </tr>
                        {% else %}
                            <tr>
                                <td></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </main>
</body>
{% endblock%}
