{% extends 'base.html' %}



{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/input.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
{% endblock %}



{% block content %}
<body>
    <main>
        <h1>Settings</h1>
        <div class="center">
            <button onclick="window.location.pathname = '/complex';">Set Up Workout</button>
        </div>
        <div class="center">
            <button onclick="window.location.pathname = '/getrawdata';">Get Raw Data</button>
        </div>
        <div class="center">
            <button onclick="signOut()">Sign Out (Clear Cache)</button>
        </div>
    </main>
</body>

{% endblock %}